@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;


}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    justify-content: space-around;
    
}

.left {
    display: flex;
    color: white;
    font-weight: 900;
    font-size: 28px;
    justify-content: flex-start;
    align-items: center;
    
}
.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}


a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: 700;
   
}

a:hover { color:rgb(139, 203, 138)

}

ul {
    display: flex;
    list-style-type: none;
    gap:16px;
    padding-right: 20px;
   

}

.content {
    padding-top: 20px;
    padding-bottom: 48px;
    display: flex;
    min-height: 100px;
    background-color: #1f2937;
    justify-content: center;
     justify-content: space-around;
     align-items: center;  
     text-align: center;
     flex-wrap: wrap;
    
}

.info {
    padding: 0;
    margin: 0;
    color: white;
   
}

img {
    display: flex;
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

.bookNowBtn {
    background-color:#3882f6;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

.bookNowBtn:hover {
    background-color: #366bc1;
    cursor: pointer;
   
}

